.App {
  text-align: center;
}

.AppContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.FruitContainer {
  width: 14rem;
  border: 1px solid black;
  margin: 0.2rem;
}

.PriceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PriceField {
  margin: 0.5rem;
  width: 2.5rem;
  height: 1rem;
}

.CurrencyFieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
